@charset "UTF-8";

html{
    font-size: 100%;
}

body {
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

a {
    text-decoration: none;
}
img {
    max-width: 100%;
}
li {
    list-style: none;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

/*header*/

header {
    width: 100%;
    height: 100vh;
    background-image: url(/img/mainvisual.jpg);
    filter:alpha(opacity=60);
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    padding: 20px 0;
    position: relative;
    margin-bottom: 80px;
}

.logo{
    width: 100px;
    padding: 0 16px;
    position: absolute;
    top: -4%;
    left: 0;
    right: 0;
}

nav ul {
    display: flex;
    justify-content: flex-end;
    margin-right: 32px;
}

nav li {
    margin-left: 30px;
}
nav li a {
    color:#105717;
    font-weight: bold;
    transition: all 0.3s ease;
    /* filter: drop-shadow(1px 1px 2px #121212); */
}
nav li a:hover {
    color:#D0E2BE;
}

.mv-title {
    padding: 0 16px;
    text-align: center;
    position: absolute;
    top: 45%;
    left: 0;
    right: 45%;
    color: #105717;
    font-size: 5rem;
    font-style: italic;
    animation: fade-in-left 3s ease-out forwards;
    animation-iteration-count:infinite ;
    animation-direction: alternate;
    opacity: 0;
    /* filter: drop-shadow(1px 1px 10px #c0c0c0); */
}

@keyframes fade-in-left{    
    0%{
        transform: translateX(-400px);
        opacity: 0;
    }
    
   100% {
        transform:translateX(0);
        opacity:1;
    }
}

/*main*/

#works{
    margin-bottom: 80px;
}

.title{
    font-size: 2rem;
    color: #105717;
    text-align: center;
    margin-bottom: 40px;
    font-style: italic;
}

.work{
    display: flex;
    justify-content: space-between;
}

.work article{
    width: 32%;
}

.work article img{
    height: 240px;
    border-radius: 10px;
    filter: drop-shadow(1px 1px 10px #c0c0c0)
}

.work article img:hover{
    opacity: 0.5;
}

.work article h3{
    padding: 0 16px;
}

.work article p{
    padding: 0 16px;
    font-size: 0.8rem;
}

#skills{
    display: flex;
    justify-content: space-between;
}

.myskills{
    width: 49%;
    background-color: #D0E2BE;
    background:rgba(208,226,190,0.3);
}

.skill{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 30px;
}

.skill img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    transition: transform 0.5s ease-out;
}

.skill img:hover{
    transform:rotateY(360deg);
}

.eg-title{
    font-weight: bold;
    font-size: 0.8rem;
}

.eg-text{
    font-size: 0.75rem;
}

.about{
    width: 49%;
    background-color: #D0E2BE;
    background:rgba(208,226,190,0.3);
}

.photo-name{
    display: flex;
    justify-content: center;
    gap: 25px;
    align-items: center;
}

.photo-name img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.photo-name p{
    font-weight: bold;
    text-align: center;
}

.about-text{
    font-size: 0.8rem;
    margin-top: 30px;
    margin-left:30px ;
}

.about-eg{
    font-size: 0.75rem;
    margin-top: 30px;
    margin-left: 30px;
}


/*footer*/
.contact{
    width: 320px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.contact .btn{
    background-color: #105717;
    border-radius: 15px;
    border: 3px solid #105717;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    display: block;
    padding: 15px;
    transition: 0.3s;
}

.contact .btn:hover{
    background-color: #fff;
    border: 3px solid #105717;
    color: #105717;
}

.inner{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.inner li{
    margin-left: 80px;
}

.inner li a{
    color: #105717;
    font-weight: bold;
    transition: all 0.3s ease;
}

.inner li a:hover{
    color:#D0E2BE;
}

footer p{
    text-align: center;
    color: #105717;
    font-size: 10px;
}

/*レスポンシブ*/
@media (max-width: 600px) {
  .wrapper {
    padding: 0 16px;
  }

  header{
    height: 80vh;
    margin-bottom: 40px;
  }

  #works{
    margin-bottom: 40px;
  }

  .work{
    flex-direction: column;
  }

  .work article{
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }

  .work article img{
    width: 360px;
  }

  #skills{
    flex-direction: column;
  }

  .myskills{
    width: 100%;
  }

  .skill-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .skill{
    flex-direction: column;
    text-align: center;
  }

  .eg-text{
    font-size: 0.65rem;
    text-align: left;
  }

  .about{
    width: 100%;
}

.contact{
    margin-top: 40px;
    margin-bottom: 20px;
}

.inner{
    margin-bottom: 20px;
}

.inner li{
    margin-left: 40px;
}

.inner li a{
    font-size: 0.8rem;
}

}
